// _header.scss ____________________________

.modal-backdrop {
    z-index: 9;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: $background-color;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
}

/* ------------------ */
/* ------------------ */
/* ------------------ */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // min-height: 100vh;
    // max-height: 978px;
    z-index: 10;
    background-color: $background-color;

    &__container {
        max-width: 1200px;
        margin: 0px auto;
        display: flex;
        padding: 0px 0px;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        max-height: 70px;
    }

    .btn {
        // order: -1;
        position: relative;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
        z-index: 10;
        @include responsive-margin-right(15, 10);

        &__icon {
            @include responsive-width(40, 24);
            @include responsive-height(40, 24);

            &:hover {
                transform: scale(1.2);
                transition: transform 0.8s;

            }

            &:active {
                transform: scale(1.2);
                transition: transform 0.8s;
            }

        }
    }

    // .btn-tot-cost {
    //     // background-color: rgba(21, 31, 40, 0.6);
    //     color: $text-color;
    //     font-family: 'Roboto';
    //     font-weight: 300;
    //     font-style: normal;
    //     text-align: normal;
    //     @include responsive-font-size(21, 15);
    //     @include responsive-line-height(29, 21);
    //     @include responsive-padding-left-right(17, 13);
    //     @include responsive-padding-top-bottom(8, 4);
    //     border: 0.8px solid $background-color;
    //     border-radius: 3px;
    // }

    &__menu {
        @include display-flex(row, flex-start, center);
        flex-wrap: nowrap;
    }
}

.logo {
    height: 35px;
    @include display-flex(row, flex-start, center);
    position: relative;
    // order: -1;
    z-index: 10;
    flex-wrap: nowrap;

    &__text {
        font-family: Oswald;
        font-style: normal;
        font-weight: bold;
        @include responsive-font-size(25, 21);
        @include responsive-line-height(35, 29);
        color: $text-color-white-on-black;
        margin: 0;

        &_color {
            font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            @include responsive-font-size(25, 21);
            @include responsive-line-height(35, 29);
            color: $accent-color;
        }
    }

    // &_underline {
    //     color: $accent-color;
    // }

    &__vertical-bar {
        width: 0.5px;
        height: 75%;
        background-color: $text-color-white-on-black;
        margin: 0 7px 0 7px;

    }

    &__img {
        fill: $text-color-white-on-black;
        height: 75%;
    }

    &:hover {
        color: $accent-color;
        transition: color 0.8s;
    }

    &:active {}


}

.menu {
    &__icon {
        display: none;
    }

    &__body {}

    &__list {}

    &__list>li {
        position: relative;
        margin: 0px 0px 0px 20px;
    }

    &__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: rgba(21, 31, 40, 0.6);
    }

    &__link:hover {
        // text-decoration: underline;
        color: $background-color;
        transition: all 0.8s ease 0s;
    }

    &__sub-list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        padding: 15px;
        min-width: 200px;
    }

    &__sub-list li {
        margin: 0px 0px 10px 0px;
    }

    &__sub-list li:last-child {
        margin: 0;
    }

    &__sub-link {
        color: #fff;
    }

    &__sub-link:hover {
        text-decoration: underline;
    }

    &__arrow {
        display: none;
    }
}



// body для memu
body {

    ._pc .menu__list>li:hover .menu__sub-list {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: all;
        transition: all 0.4s ease 0s;
    }

    ._touch .menu__list>li {
        display: flex;
        align-items: center;
    }

    ._touch .menu__link {
        flex: 1 1 auto;
    }

    ._touch .menu__arrow {
        display: block;
        width: 0;
        height: 0;
        margin: 0px 0px 0px 5px;
        transition: transform 0.3s ease 0s;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 12px solid #00E991;
    }

    ._touch .menu__list>li._active .menu__sub-list {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: all;
        transition: all 0.4s ease 0s;
    }

    ._touch .menu__list>li._active .menu__arrow {
        transform: rotate(-180deg);
        transition: all 0.4s ease 0s;
    }
}

// / body для memu

// @media (min-width: 767px) {
//     .menu__list {
//         display: flex;
//         align-items: center;
//     }

//     .menu__list>li {
//         padding: 10px 0;
//     }

//     .menu__sub-list {
//         transform: translate(0px, 10%);
//         opacity: 0;
//         visibility: hidden;
//         pointer-events: none;
//         transition: all 0.3s ease 0s;
//     }
// }


// header для menu
.header {

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 15px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 2px;
        // width: 18.75px;
        width: 24px;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        border-radius: 7px;
    }

    .menu__icon::before {
        // width: 28.12px;
        width: 24px;
    }

    .menu__icon::after {
        // width: 7.5px;
        width: 24px;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        width: 20px;
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        width: 20px;
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        // top: -100vh;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $text-color;
        padding: 103px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
        // top: 0;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: $background-color;
        z-index: 2;
    }

    .menu__list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }

    .menu__list>li:last-child {
        margin-bottom: 0;
    }

    .menu__list>li._active .menu__sub-list {
        display: block;
    }

    // .menu__link {
    //     font-size: 24px;
    // }

    .menu__sub-list {
        position: relative;
        background-color: #fff;
        flex: 1 1 100%;
        margin: 20px 0px 0px 0px;
        display: none;
    }

    .menu__sub-link {
        font-size: 20px;
        color: #000;
    }

    .basket {
        position: relative;
        background-color: $background-color;
        width: 24px;
        // @include responsive-height (70, 50);
        z-index: 10;
        @include responsive-margin-right (25, 22);

        &__img {
            fill: $text-color-white-on-black;
        }

        &__numberItemsCart {
            position: absolute;
            top: -16px;
            left: 24px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            color: #ff208a;
            font-size: 13px;
            line-height: 23px;
        }
    }

}

// / header для menu


.shopping-cart {

    .modal-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }

    .modal-header {
        border-bottom: 9px solid #c9c5c59c;
    }

    .modal-footer {
        @include display-flex(column, flex-start, flex-start);
        border-top: 9px solid #c9c5c59c;

        &__info-wrapper {
            width: 100%;
            @include display-flex(row, space-between, center);
            margin: 0 0 10px 0;
        }

        &__cost-goods-p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
        }

        &__cost-goods-rubles {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
        }
    }

    .btn-close {
        width: 100%;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: $text-color;
        background-color: $accent-color;
        padding: 8px;
        margin: 0px;
    }

    .products__item {
        @include display-flex(row, flex-start, flex-start);
        border-bottom: 1px solid #c9c5c59c;
        padding-bottom: 10px;
    }

    .products__img {
        max-width: 40%;
        order: -1;
    }

    .products__name {
        font-family: Roboto;
        max-width: 60%;
        font-size: 14px;
        line-height: 21px;
        margin-top: 16px;
        padding-left: 10px;
    }

    .products__description {

        width: 100%;
        @include display-flex(row, space-between, center);

        &_control {
            width: 50%;
            @include display-flex(row, flex-start, center);

        }

        .buy-btn {
            font-family: Roboto;
            margin-left: 15px;
            background-color: transparent;
            color: rgb(182, 182, 182);
        }

        &_prices {

            width: 50%;
            @include display-flex(row, flex-end, center);

            .products__price {}

            .products__price_old {
                color: #b6b6b6;
                text-decoration: line-through;
                margin-bottom: 8px;
            }
        }
    }

    .del-btn {
        font-family: Roboto;
        font-size: 13px;
        line-height: 19px;
        background-color: transparent;
        margin: 0 15px 0 15px;
        color: gray;
    }

    .product-units,
    .product-quantity {
        margin-left: 4px;
        font-family: Roboto;
        font-size: 13px;
        line-height: 19px;
        color: gray;
    }


}

.cart-item {

    .products__price {
        font-family: Roboto;
        font-size: 14px;
        line-height: 21px;
    }
}

.shopping-cart .modal-footer__info-wrapper {
    display: none;
}

button:active {
    animation: buttonPress 1s;
    transition: animation 0.8s ease 0s;
}











// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}



// _header.scss ____________________________